<!DOCTYPE html>  
<html lang="en">  
  <head>  
    <meta charset="UTF-8" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    <title>Registro</title>  
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>  
    <link rel="stylesheet" href="/public/registro.css" />  
  </head>  
  <body>  
    <div class="container">  
      <form id="register-form" action="">  
        <h1>Registrarse</h1>  

        <div class="input-box">  
          <label for="userRegister"></label>  
          <input type="text" id="userRegister" placeholder="Nombre de Usuario" required />  
        </div>  

        <div class="input-box">  
          <label for="emailRegister"></label>  
          <input type="email" id="emailRegister" placeholder="Correo Electronico" required />  
        </div>  

        <div class="input-box">  
          <label for="passwordRegister"></label>  
          <input type="password" id="passwordRegister" placeholder="Contraseña" required />  
        </div>  

        <div class="input-box">  
          <label for="confirmPasswordRegister"></label>  
          <input type="password" id="confirmPasswordRegister" placeholder="Confirmar Contraseña" required />  
        </div>  

        <button type="submit" class="btn">Registrate</button>  

        <div class="register-link">  
          <p>Ya tienes una cuenta? <a href="/view/login/index.html">Inicia Sesion ahora!</a></p>  
        </div>  
      </form>  
    </div>  
    <script src="/public/registro.js"></script>  
  </body>  
</html>