<!DOCTYPE html>  
<html lang="en">  
  <head>  
    <meta charset="UTF-8" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    <title>Iniciar Sesion</title>  
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>  
    <link rel="stylesheet" href="/public/login.css" />  
  </head>  
  <body>  
    <div class="container">  
      <form id="login-form" action="">  
        <h1>Inicio de Sesion</h1>  

        <div class="input-box">  
          <label for="emailLogin"></label>  
          <input type="text" id="emailLogin" placeholder="Correo Electronico" required />  
        </div>  
        <div class="input-box">  
          <label for="passwordLogin"></label>  
          <input type="password" id="passwordLogin" placeholder="Contraseña" required />  
        </div>  

        <button type="submit" class="btn">Iniciar Sesion</button>  

        <div class="register-link">  
          <p>Aún no tienes cuenta? <a href="/public/registro.js">Registrate ahora!</a></p>  
        </div>  
      </form>  
    </div>  
    <script src="/public/login.js" type="text/javascript"></script>  
  </body>  
</html>