<!DOCTYPE html>  
<html lang="es">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Admin Panel</title>  
    <link rel="stylesheet" href="css/panelAdministrador.css" type="text/css">
    <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">  
</head>  
<body>  
    <header>  
        <h2 class="logo">innov<span>auto</span></h2>  
        <ul>  
            <li><a href="" class="nav-button" data-target="users">Users</a></li>  
            <li><a href="" class="nav-button" data-target="products">Products</a></li>  
            <li><a href="" class="nav-button" data-target="admins">Admins</a></li>  
        </ul>  
    </header>  
    
    <div class="bg"></div>  
    
    <div class="separador"><div class="separador1"></div></div>  
    
    <div id="content">  
        <div class="section" id="users" style="display: none;">  
            <h3>Users</h3>  
            <p>Contenido relacionado con usuarios.</p>  
        </div>  
        <div class="section" id="products" style="display: none;">  
            <h3>Products</h3>  
            <p>Contenido relacionado con productos.</p>  
        </div>  
        <div class="section" id="admins" style="display: none;">  
            <h3>Admins</h3>  
            <p>Contenido relacionado con administradores.</p>  
        </div>  
    </div>  
    
    <div class="separador3"></div>  
    <div class="separador4"></div>  

    <footer class="footer">  
        <div class="footer-copyright">  
            <p>&copy; 2024 By Winston Cote</p>  
        </div>  
    </footer>  
    
    <script src="js/panelAdministrador.js"></script>   
</body>  
</html>