<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/reparacion_motores.css">
    <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
    <title>Reparacion de motores</title>
</head>
<body>
    <header>
      <a href="#" class="logo">innov<span>auto</span></a>
      <ul>
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#contacUS">Contac Us</a></li>
      </ul>
        <div class="cart-svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: msFilter"><path d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921z"></path><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle></svg>
        </div>
      </header>

    <div class="bg"></div>

        <div class="social">
            <div class="barra">
                <li><a class="icon-facebook" href="#"><i><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                  </svg></i></a></li>
                <li><a class="icon-instagram" href="#"><i><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M16.5 7.5l0 .01" />
                  </svg></i></a></li>
                <li><a class="icon-twitter" href="#"><i><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                    <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                  </svg></i></a></li>
                <li><a class="icon-mail" href="#"><i><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ea4335" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                    <path d="M3 7l9 6l9 -6" />
                  </svg></i></a></li>
            </div>
          </div>

          <section id="home">

       <div class="separador"><div class="separador1"></div></div>

       <div class="titulo"><h1>Reparacion de Motores</h1></div>

       <div class="image">
        <div>
            <ul>
                <li> <a href="/Limpieza" class="limpieza" target="_blank">Limpieza</a></li>
                <li> <a href="/reparacion_piezas" class="Piezas-de-reparacion" target="_blank">Piezas de reparación</a></li>
                <li> <a href="/reparacion_motores" class="reparacion-de-motores">Reparación de motores</a></li>
                <li> <a href="/servicio_llantas" class="servicio-de-cambio-de-llantas" target="_blank">Servicio de cambio de llantas</a></li>
                <li> <a href="/servicio_pintura" class="servicio-de-pintado" target="_blank">Servicios de pintado</a></li>
                <li> <a href="/servicio_bateria" class="servicio-de-bateria-de-coches" target="_blank">Servicios de batería de coche</a></li>
              </ul>
        </div>
        <div>
          <img src="/public/img/32.webp">
        </div>
       </div>

      </section>

       <div class="descripcion">
        <h2>Descripcion</h2>
        <p>Nuestro servicio está diseñado para abordar cualquier problema que pueda afectar el rendimiento de tu vehículo. Contamos con un equipo de mecánicos altamente capacitados que utilizan tecnología avanzada para diagnosticar y reparar motores de manera eficiente. Trabajaremos para devolver la potencia y fiabilidad a tu motor, asegurando que puedas disfrutar de una conducción segura y placentera.</p>
       </div>

       <div class="separador3"></div>

       <div class="separador4"></div>

       <section id="contacUS">

       <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3 class="innovaF">Innov<span>auto</span></h3>
                <p>Servicios de mecánica de alta calidad <br> y una amplia variedad de repuestos <br> originales para automóviles.</p>
            </div>
  
            <div class="footer-section">
              <h3>Servicios</h3>
              <ul>
                <li> <a href="/Limpieza" target="_blank">Limpieza</a></li>
                <li> <a href="/reparacion_piezas" target="_blank">Piezas de reparación</a></li>
                <li> <a href="/reparacion_motores">Reparación de motores</a></li>
                <li> <a href="/servicio_llantas" target="_blank">Servicio de cambio de llantas</a></li>
                <li> <a href="/servicio_pintura" target="_blank">Servicios de pintado</a></li>
                <li> <a href="/servicio_bateria" target="_blank">Servicios de batería de coche</a></li>
              </ul>
            </div>
  
            <div class="footer-section">
                <h3>Contac us</h3>
                <p>innovautomechanic@gmail.com</p>
                <p>0412- 2547442</p>
            </div>
  
        </div>
        <div class="footer-copyright">
            <p>&copy; 2024 By Winston Cote</p>
        </div>
    </footer>

  </section>

    <script src="/public/reparacion_motores.js"></script>
</body>
</html>